body{
    background-color: #ccf;
    font-family: 'Noto Sans KR';
    font-weight: 300;
    font-size: 14px;
    color: #1d1d1d;
}
div.welcome{
    width: 70%;
    margin: 0 auto;
}
div.welcome>h1{
    font-weight: 700;
    font-size: 24px;
    line-height: 80px;
    color: #fff;
    padding: 0 40px;
}
div.outlay{
    width: 70%; min-height: 80vh;
    margin: 0px auto 80px;
    border: 2px solid #fff;
    border-radius: 80px;
}
div.outlay>.header{
    height: 40px;
    margin: 40px 40px 0;
    display: flex;
    position: relative;
}
div.outlay>.header>.image{}
div.outlay>.header>.texts{
    position: absolute;
    right: 50px;
}
div.outlay>.header>.texts>p{
    font-size: 16px;
    line-height: 20px;
    text-align: right;
}
div.outlay>.header>.img2{
    width: 40px; height: 40px;
    background-image: url(../img/kiwic.jpg);
    background-position: center;
    background-size: cover;
    border: 1.5px solid #fff;
    position: absolute;
    right: 0;
}

div.outlay>.section{
    width: 90%;
    margin: 0 auto;
}
div.outlay>.section>.personal{}
div.outlay>.section>h3{
    padding: 20px 0 10px;
    font-weight: 500;
    font-size: 24px;
    color: #1d1d1d;
}

div.outlay>.section>.project{}
div.outlay>.section>ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}
div.outlay>.section>ul>li{}
div.outlay>.section>ul>li>a>button{
    color: #fff;
    width: 120px; height: 120px;
    border: 1px solid #fff;
    border-radius: 60px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.5), 0px 0px 4px rgba(0,0,0,0.5);
    cursor: pointer;
    margin: 10px 10px 20px;
}

div.outlay>.section>ul>li>a>button:hover{
    box-shadow: 0px 0px 0px rgba(0,0,0,0.5);
}
div.outlay>.section>ul>li>a>button:hover>h4{
    color: rgb(176, 162, 255);
}
div.outlay>.section>ul>li>a>button:hover>h3{
    text-decoration: underline; text-underline-position:under;
}
div.outlay>.section>.personal>li>a>button{
    background-color: #936;
    border: 0;
}
div.outlay>.section>.project>li>a>button{
    background-color: #639;
    border: 0;
}
div.outlay>.section>.project>li>a>button>h4{
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    color: #000;
}
div.outlay>.section>.project>li>a>button>h3{
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
}
div.outlay>.section>.project{}
div.outlay>.section>.project>.proj{}
div.outlay>.section>.project>.pj01{}
div.outlay>.section>.project>.pj02{}
div.outlay>.section>.project>.pj03{}
div.outlay>.section>.project>.pj04{}

div.outlay>.section .photoWrap{
    display: flex;
    justify-content: flex-end;
}
div.outlay>.section .photo{
    width: 300px; height: 350px;
    background-image: url(../img/polygon_dana.PNG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}