body{
    background-color: #1d1d1d;
}

/*MAIN*//*MAIN*//*MAIN*//*MAIN*//*MAIN*/
/*MAIN*//*MAIN*//*MAIN*//*MAIN*//*MAIN*/
div.mainWrap{}
div.mainWrap>.main{}
div.mainWrap>.main>.header{
    width: 100%; min-width: 800px;
    max-width: 1080px;
    margin: 0 auto;
    position: relative;
}
div.mainWrap>.main>.header>h2{
    font-size: 48px;
    line-height: 80px;
    color: #fff;
    text-transform: uppercase;
    padding: 160px 0 80px;
    position: absolute;
    z-index: 999;
}
div.mainWrap>.main>.header>h2>span{
    text-shadow: 0 0 4px #fff, 0 0 8px #fff, 0 0 2px #fff;
}
div.mainWrap>.main>input{}
div.mainWrap>.main>.section{
    overflow: hidden;
    position: relative;
}
div.mainWrap>.main>.section>.artGroup{}
div.mainWrap>.main>.section>.artGroup>.article{
    width: 400%;
    position: relative;
}
#p1:checked~.section>.artGroup>.article{left: 0;}
#p2:checked~.section>.artGroup>.article{left: -100%;}
#p3:checked~.section>.artGroup>.article{left: -200%;}
#p4:checked~.section>.artGroup>.article{left: -300%;}

div.mainWrap>.main>.section>.artGroup>.at1{}
div.mainWrap>.main>.section>.artGroup>.at2{}
div.mainWrap>.main>.section>.artGroup>.at3{}
div.mainWrap>.main>.section>.artGroup>.at4{}

div.mainWrap>.main>.section>.artGroup>.article>.mnimage{
    width: 25%; min-width: 800px;
    height: 920px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
}
div.mainWrap>.main>.section>.artGroup>.article>.i1{background-image: url(../img/lego_sub3_main.png);}
div.mainWrap>.main>.section>.artGroup>.article>.i2{background-image: url(../img/lego_sub5_kidsz.jpg);}
div.mainWrap>.main>.section>.artGroup>.article>.i3{background-image: url(../img/lego_extra02.jpg);}
div.mainWrap>.main>.section>.artGroup>.article>.i4{background-image: url(../img/lego_extra01.jpg);}

div.mainWrap>.main>.section>.artGroup>.article>.mnimage>.texts{
    min-width: 800px; max-width: 1080px;
    margin: 0 auto;
    margin-top: 320px;
}
div.mainWrap>.main>.section>.artGroup>.article>.mnimage>.texts>.textbox{
    font-family: 'Noto Sans KR';
    background-color: rgba(0,0,0,0.6);
    width: 430px; height: 440px;
    position: relative;
}

div.mainWrap>.main>.section>.artGroup>.article>.mnimage>.texts>.textbox>h3{
    font-size: 36px;
    line-height: 40px;
    color: #fff;
    text-shadow: 0 0 4px #fff, 0 0 8px #fff, 0 0 2px #fff;
    text-transform: uppercase;
    padding-top: 40px;
    padding-left: 40px;
    cursor: pointer;
}
div.mainWrap>.main>.section>.artGroup>.article>.mnimage>.texts>.textbox>h3:hover{
    font-weight: 500;
    color: #000;
    text-shadow: 0 0 8px #fff, 0 0 12px #fff, 0 0 4px #fff;
}
div.mainWrap>.main>.section>.artGroup>.article>.mnimage>.texts>.textbox>h5{
    font-size: 16px;
    line-height: 40px;
    color: #fff;
    text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff;
    padding-left: 40px;
}
div.mainWrap>.main>.section>.artGroup>.article>.mnimage>.texts>.textbox>p{
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    padding-top: 40px;
    padding-left: 40px;
}

div.mainWrap>.main>.btns{
    width: 100%; min-width: 800px; max-width: 1080px;
    height: 120px;
    margin: 0 auto;
    position: relative;
    top: -240px;
}
div.mainWrap>.main>.btns>.pagenation{}
div.mainWrap>.main>.btns>ul{
    position: absolute;
    margin-left: 40px;
}
div.mainWrap>.main>.btns>ul>li{
    font-family: 'Noto Sans KR';
    font-size: 16px;
    background-color: rgba(0,0,0,0);
    color: #fff;
    text-shadow: 0 0 4px #fff, 0 0 8px #fff, 0 0 2px #fff;
    width: 70px;     height: 40px;
    border: 1px solid #fff;
    box-shadow: 0 0 8px #fff, inset 0px 0px 8px #fff;
    text-align: center;
    line-height: 40px;
    float: left;
    margin-right: 20px;
    cursor: pointer;
}
div.mainWrap>.main>.btns>ul>li:hover{
    box-shadow: 0 0 20px #fff, inset 0px 0px 5px #fff;
    font-weight: 500;
    text-shadow: 0 0 5px #fff;
}
div.mainWrap>.main>.btns>ul>li>label{
    display: block;
    height: 100%;
    cursor: pointer;
}

div.mainWrap>.main>.btns>.btn{
    position: absolute;
    right: 0;bottom: 0;
}
div.mainWrap>.main>.btns>.btn>button{
    font-family: 'Noto Sans KR';
    font-weight: 500;
    font-size: 14x;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    width: 160px;     height: 40px;
    border: 1px solid #fff;
    box-shadow: 0 0 10px #fff, inset 0px 0px 10px #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
}
div.mainWrap>.main>.btns>.btn>button:hover{
    box-shadow: 0 0 20px #fff, inset 0px 0px 5px #fff;
    font-weight: 700;
    text-shadow: 0 0 5px #fff;
}

/*COLLABO*//*COLLABO*//*COLLABO*//*COLLABO*//*COLLABO*/
/*COLLABO*//*COLLABO*//*COLLABO*//*COLLABO*//*COLLABO*/
div.collaboWrap{
    width: 100%; min-width: 800px; max-width: 1080px;
    margin: 0 auto;
}
div.collaboWrap>.collabo{
    display: flex;
    flex-wrap: wrap;
    outline: 2px solid rebeccapurple;
    padding-bottom: 80px;
}
div.collaboWrap>.collabo>.article{
    display: flex;
    margin: 0 10px;
}
div.collaboWrap>.collabo>.at3{    margin-top: 40px;}
div.collaboWrap>.collabo>.at4{    margin-top: 40px;}

div.collaboWrap>.collabo>.article>.image{
    width: 160px; height: 160px;
    border-radius: 80px;
    box-shadow: 10px 10px 20px rgba(0,0,0,1);
    background-position: center;
}
div.collaboWrap>.collabo>.article>.image:hover{
    box-shadow: 0 0 10px #000, 15px 15px 30px rgba(0,0,0,1);
    background-size: 165px;
}
div.collaboWrap>.collabo>.at1>.image{background-image: url(../img/lego_sub3_collabo01.png);}
div.collaboWrap>.collabo>.at2>.image{background-image: url(../img/lego_sub3_collabo02.png);}
div.collaboWrap>.collabo>.at3>.image{background-image: url(../img/lego_sub3_collabo03.png);}
div.collaboWrap>.collabo>.at4>.image{background-image: url(../img/lego_sub3_collabo04.png);}
div.collaboWrap>.collabo>.article>.texts{
    font-family: 'Noto Sans KR';
    color: #fff;
    padding-left: 20px;
}
div.collaboWrap>.collabo>.article>.texts>h4{
    font-size: 24px;
    line-height: 80px;
}
div.collaboWrap>.collabo>.article>.texts>p{
    font-size: 14px;
    line-height: 20px;
    width: 340px;     height: 80px;
    overflow: hidden;
}

/* SALE NOW *//* SALE NOW *//* SALE NOW *//* SALE NOW *//* SALE NOW */
/* SALE NOW *//* SALE NOW *//* SALE NOW *//* SALE NOW *//* SALE NOW */
